spring:
  application:
    name: calendar
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

meeting:
  mail:
    owner: ${MY_EMAIL}
    bot: ${BOT_MAIL}
    phone: ${PHONE_NUMBER}
  values:
    hours:
      - 1.0
      - 1.5
      - 2.0
      - 2.5
      - 3.0
    minutes: 90
    work-hours:
      start: "11:15"
      end: "15:45"
      work-hours-overrides:
        saturday:
          end: "14:45"
        sunday:
          end: "14:45"

  keywords:
    propositions:
      - terminy
      - propozycje
      - propositions
      - mentoring
      - spotkania
      - kalendarz
      - calendar
    arrange:
      - meeting
      - umów
    description: "Moje uwagi:"